.bg-gray-300.min-h-screen.flex.flex-col
  .container.max-w-sm.mx-auto.flex-1.flex.flex-col.items-center.justify-center.px-2
    .bg-white.px-6.py-8.rounded.shadow-md.text-black.w-full
      %h1.mb-8.text-3xl.text-center.font-bold Iniciar sesión
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.email_field :email, autofocus: true, placeholder: 'Correo electrónico', autocomplete: 'email', class: 'block border border-gray-400 w-full p-3 rounded mb-4'
        .field
          = f.password_field :password, autocomplete: 'current-password', placeholder: 'Contraseña', class: 'block border border-gray-400 w-full p-3 rounded mb-4'
        = f.submit 'Ingresar', class: 'w-full text-center py-3 rounded bg-green-500 text-white hover:bg-green-600 focus:outline-none my-1'
    .text-gray-600.mt-6
      Aún no te has registrado?
      = succeed "." do
        %a.no-underline.border-b.border-blue-500.text-blue-500{:href => new_user_registration_path}
          Regístrate
