%h1.text-center.text-5xl.mt-24 Publicaciones
.text-gray-900.bg-gray-200.my-8.rounded
  .px-3.py-4.flex.justify-center
    %table.w-full.text-md.bg-white.shadow-md.rounded.mb-4
      %tbody
        %tr.border-b
          %th.text-center.text-xl.p-3.px-5 Contenido
          %th.text-left.text-xl.p-3.px-5 Imagen
          %th.text-center.text-xl.p-3.px-5 Id
        - @posts.each_with_index do |post, index|
          - color = 'bg-gray-100' if index.modulo(2) === 0
          %tr.border-b{class: "#{color}", id: "post_#{post.id}"}
            %td.p-3.px-5.text-justify{class: 'w-4/5'}= post.content
            %td.p-3= image_tag post.image.service_url, class: 'w-20' if post.image.attached?
            %td.p-3.px-5.text-center= post.id
