= form_with(model: post, local: true) do |form|
  - if post.errors.any?
    #error_explanation
      %h2
        = pluralize(post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - post.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :content
    = form.text_field :content, maxlength: 255, size: 30
  .field
    = form.label :image
    = form.file_field :image
  .actions
    = form.submit
